/*
    <!--
      -Name: [Danil Eremeev]
      -UnityID: [deremee]
      -Date: [4/12/2020]
      -Assignment: [Webpages IA]
      -Description: [Webpages independent assignment]
*/
 
body {
	background-color:#F5E9E7 ;
}

.table-border {
    border: 1px solid #6250A1 ;
}

#photostyle {
    max-width: 200px ;
	max-height: 250px ;
	border: 2px outset #32CD32 ;
}
